/*big monitors*/

@media screen and (min-width: 1201px) {

/*---------Sticky Nav-------------------*/

    .sticky {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgb(255, 255, 255, 0.98);
        box-shadow: 0 2px 2px #efefef;
        z-index: 9999;
    }

    .sticky .main-nav {
        padding-top: 23px;
        
    }

    .sticky .main-nav li {
        padding-bottom: 30px;
        font-size: 90%;
        float: right;

    }

    .sticky .main-nav li:first-of-type {
        margin-right: 50px;
    }

    .sticky .main-nav .dropdown a:link,
    .sticky .main-nav .dropdown a:visited {
        padding: 10px 0;
    }

    .sticky .cart-nav__text {
        font-size: 80%;
        padding-top: 32px;

    }

    .sticky .cart-nav__icon {
        position: absolute;
        top: -18%;
        right: 45%;
    }

    .sticky .logo-main__color{
        display: none;
    }

    .sticky .logo-main__black {
        display: block;
    }

    .sticky .main-nav .dropdown-content {
        display: none;
        padding: 12px 16px;
        position: absolute;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
      
    .navbar-toggle {
        display: none;
    }

    .main-nav li {
        display: inline-block;
        margin-left: 40px;
    }
}

/* big monitors to 1600 px */
@media only screen and (max-width: 1600px) {

    .search-form {
        position: absolute;
        top: 5%;
        right: 2%;
    }

    .search-form__field input[type=text] {
        font-size: 14px;
        width: 70%;
    }
      
    .search-form__field button {
        width: 20%;
        font-size: 14px;
    }
}


/* big tablets to 1200 px */
@media only screen and (max-width: 1200px) {

    .navbar-toggle {
        display: none;
     }

    .main-nav li {
        display: inline-block;
        margin-left: 40px;
    }


    .hero-text-box {
        position: absolute;
        width: 100%;
        padding: 0 2%;
    }

    .row { padding: 0 2%; }

    .shop-nav {
        position: absolute;
        right: 5%;
        top: 2.5%;
        display: flex !important;
        justify-content: space-between;
        flex-wrap: nowrap;
        float: right;
        list-style: none;
        margin-top: 0;
        margin-right: 15px;  
    }

    .shop-nav li {
        margin-left: 20px !important;
    }

    .product-header {
        margin-top: 100px;
    }

    .span-1-of-3 h3 {
        font-size: 140%;
    }

    .section-blog__long-copy {
        font-size: 110%;
    }

    .search-form {
        position: absolute;
        top: 10%;
        right: 38%;
    }

    .search-form__field input[type=text] {
        font-size: 14px;
        width: 80%;
    }
      
    .search-form__field button {
        width: 20%;
        font-size: 14px;
    }
}



/* small tablets to big tablets fron 768px to 1023px*/
@media only screen and (max-width: 1023px) {

    body { font-size: 18px; }
    section { padding: 60px 0; }

    .col { 
        width: 49%; /*100*/
        margin: 0 1% 1% 0; /*0 0 3 0*/
    }

    .row {
        padding: 0 0 0 1%;
    }

    p {
        font-size: 100%;
    }

    .logo-main__color {
        position: absolute;
        height: 70px;
        width: auto;
        margin-top: 0;
        left: 2.5%;
        top: 1.5%;
    }

    .logo-main__black {
        display: none !important;
    }

    .main-nav {
        list-style-type: none;
        display: none;
        max-width: 1200px;
    } 

    .navbar-toggle {
        font-size: 24px;
        cursor: pointer;
        display: block !important;
    }

    .navbar-toggle i {
        position: absolute;
        top: 2.8%;
        right: 5%;
        cursor: pointer;
        font-size: 50px;
    } 


    .active {
        display: block;
        background-color: rgb(249, 228, 148);
        width: 100vw;
        height: 100vh;
    }

    .disactive {
        display: none;
    }


    .main-nav li {
        text-align: center;
        margin: 0 auto;
        padding-top: 12px;
        padding-bottom: 5px;
        display: block;
        font-size: 100%;
    }

    .input-box {
        font-size: 18px;
    }

    .main-nav__links {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 200%;
    }

    .dropdown {
        float: none;
        cursor: pointer;
    }

    .dropdown-content a {
        padding: 10px 14px;
    }

    .dropdown-content {
        position: relative;
        margin-top: 10px;
        padding-top: 3px;
    }

    .dropdown .dropbtn {
        display: inline; 
        /*block*/
        width: 100%;
        text-align: left;
    }

    .section-photo-gallery__card-offer--card-text {
        justify-content: space-between;
        display: flex;
        font-size: 100%;
    }

    .section-photo-gallery__card-offer--card-text h4 {
        font-size: 130%;
    }

    .section-photo-gallery__card-offer--card-text i {
        font-size: 35px;
        color: var(--mainGrey);
        cursor: pointer;
    }

    .span-1-of-3 h3 {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .span-1-of-3 p {
        margin-bottom: 20px;
        text-align: center;
    }

    .search-form {
        position: absolute;
        top: 3.3%;
        right: 15%;
    }
}


/* small phones to small tablets from 481px to 767px*/
@media only screen and (max-width: 767px) {
    body { font-size: 16px; }
    section { padding: 30px 0; }
    header {
        background-size: cover;
        background-repeat: no-repeat;
    }

    .row,
    .hero-text-box { 
        padding: 0 4%;
        margin-top: 25px !important;
    }
    .col { 
        width: 100%;
        margin: 0 0 3% 0;
    }

    h1 { 
        font-size: 155%; 
    }

    h2 { font-size: 140%; }

    h5 { font-size: 80%; }


    h6 { font-size: 75%; }

    .main-nav li {
        padding-top: 8px;
        padding-bottom: 5px;
        display: block;
        font-size: 75%;
    }

    .navbar-toggle i {
        position: absolute;
        top: 3.3%;
        right: 5%;
        cursor: pointer;
        font-size: 40px;
    }

    .input-box {
        font-size: 14px;
        float: left;
    }

    .logo-main__color  {
        position: absolute;
        height: 50px;
        width: auto;
        margin-top: 0;
        left: 2.5%;
        top: 2.5%;
    }

    .btn {
        padding: 8px 24px !important;
    }

    .text p {
        text-align: center;
    }

    .section-photo-gallery__card-offer--card-text h4 {
        font-size: 110%;
    }

    .section-photo-gallery__card-offer--card-text {
        justify-content: space-between;
        display: flex;
    }

    .section-photo-gallery__card-offer--card-text i {
        font-size: 28px;
        color: var(--mainGrey);
        cursor: pointer;
    }

    .header-shop{
        width: 100%;
    }

    .product-header {
        grid-template-columns: 35% 30% 35%;
        grid-column-gap: 5px;
        width: 100%;
        margin-top: 80px;
    }

    .product-item {
        grid-template-columns: 35% 30% 35%;
        grid-column-gap: 5px;
        width: 100%;    
    }

    .product img {
        width: 100%;
    }

    .price {
        display: none;
    }

    .price-title {
        display: none;
    }

    .quantity,
    .total {
        margin-top: 2px;
    }

    .total {
        width: 100%;
        flex-wrap: nowrap;
    }

    .total i {
        font-size: 1rem;
        margin-top: 44px;
    }

    .quantity h6,
    .total h6,
    .price h6 {
        padding: 0 10px;
    }
    
    .section-blog__news {
        margin-bottom: 15px;
    }

    .span-1-of-3 h3 {
        font-size: 135%;
    }

    .span-1-of-3 p {
        font-size: 90%;
    }

    footer {
        padding-top: 15px;
    }

    .footer-nav {
        text-align: center;
        float: none;
    }

    .social-links {
        text-align: center;
        float: none;
        margin-top: 15px;
    }

    .row p {
        margin-top: 0;
    }

    .search-form {
        position: absolute;
        top: 3.5%;
        right: 9.6%;
    }
    
    .search-form__field input[type=text] {
        font-size: 12px;
        width: 60%;
    }
      
    .search-form__field button {
        width: 20%;
        font-size: 12px;
    }
}

/* small phones fron 0 to 480px*/
@media only screen and (max-width: 480px) {

    h2{ font-size: 135%; }

    section { padding: 25px 0; }

    .search-form {
        position: absolute;
        height: 45px;
        width: auto;
        top: 3.7%;
        right: 9.6%;
    }

    .logo-main__color {
        position: absolute;
        left: 2.5%;
        top: 2.3%;
    }

    .btn {
        padding: 6px 20px !important;
    }

    footer {
        font-size: 70%;
    }

    .main-nav li {
        font-size: 65%;
    }
}